@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");
:root{
  --pet-green: #a8bc28;
  --pet-black: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main > div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 3.12em;  
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
}
.swiperlojas {
  display: block;
  width: 100%;
  padding-top: 3.125rem;  
  padding-bottom: 3em !important;
  padding-left: 5em;
  padding-right: 3em;
}
.swiperlojas .swiper-slide {
  width: 12rem;
  height: 100%;
  display: block;
  border-radius: 25px;
  flex-direction: column;
  background-color: white;
}
.swiperlojas .swiper-slide h2 {
  margin: 0.1em 0.5em;
  border-radius: 25px;
}
.swiperlojas .swiper-slide p {
  line-height: 1em ;
  margin-bottom: 1em;
  margin-top: 1em;
}
.swiperlojas img{
  margin: 1em;
  border-radius: 25px;
  max-width: 90%;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--pet-black);
}

.swiper-slide {
  width: 18.75rem;
  min-height: 20em;
  height: fit-content;
  display: block;
  border-radius: 25px;
  flex-direction: column;
  background-color: white;
  position: relative;
  justify-content: space-evenly;
}
.swiper-slide h2 {
  background-color: var(--pet-green);
  padding:15px !important;
  color: #fff;
  text-align: center;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0;
  text-transform: uppercase;
  border-radius: 25px 25px 0px 0px;
}
.swiper-slide h3{
  font-family: "poppins";
  font-size: 2em;
  font-weight: 800;
}

.swiper-slide p {
  color: var(--pet-black);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 1em;
  display: block;
  overflow: hidden; 
}

.swiper-slide a {
  display: block;
  width: 15em;
  text-align: center;
  background-color: var(--pet-green);
  margin: auto auto 0px auto;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
  border-radius: 1em;
  font-family: "Poppins", sans-serif;  
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  opacity: 60%;
  padding-bottom: 0.625rem;
  transition: 0.3s ease-in;
}

.swiper-slide-active div {
  display: block;
  opacity: 100%;
  transition: 0.3s ease-in;
}
.swiper-slide-visible{
  box-shadow: 1px 1px 10px #000000 ;
}
.swiper-slide-next{
  box-shadow: none;
}
.swiper-slide-prev{
  box-shadow: none;
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.swiperlojas .swiper-3d .swiper-slide-shadow-left,
.swiperlojas .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
  .swiperlojas img {
    max-width: 45%;
    
  }
  .bg,
.bg2 {
    opacity: 0.1;
  }
}
@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 100%;
    padding: 3.4em;
  }
  .swiperlojas {
    width: 100%;
    padding: 3.4em;
  }
  .swiperlojas img {
    max-width: 50%;
    
  }
}